
/*** 팝업 ***/
.layerpopup { position:absolute; overflow-y:auto; width:91.25%;  z-index:22; background:#fff; -webkit-overflow-scrolling:touch; outline:none; }
.layerpopup .btn-layer-close { position:absolute; top:20px; right:20px; z-index:22; width:24px; height:24px; background:url("/asset/images/common/btn_close.png") no-repeat 50%/24px auto; text-indent:-9999px; }
.layerpopup .btn-layer-close:after { content:''; position:absolute; top:50%; left:50%; width:150%; height:150%; transform:translate(-50%, -50%); }
.layerpopup .btn-wrap button { margin:0; }

/** 레이어 풀팝업 **/
.layerpopup.laypop-all{position:fixed;top:0;left:0;right:0;bottom:0;width:100%;border-top:none;background:#fff;z-index:21;}
.layerpopup.laypop-all .pop-header {position:fixed;top:0;left:0;right:0;height:50px; padding:0 50px; background:#fff;text-align:center;line-height:50px;z-index:5;}
.layerpopup.laypop-all .pop-header:has(+.pop-con-wrap>.default-wrap>.txt-list-wrap:first-child) { border:0; }/*(청)test immedTransferStep1.html*/
.layerpopup.laypop-all .pop-header .pop-title { font-size:0.88889rem; font-weight:500; }
.layerpopup.laypop-all .btn-layer-close{position:fixed;top:5px;right:10px;width:40px;height:40px;background:url("/asset/images/common/btn_close.png") no-repeat 50%/24px auto;text-indent:-9999px;}
.layerpopup.laypop-all .btn-wrap .btn-layer-close { position:static; width:100%; height:60px; background:linear-gradient(320deg, rgba(38,15,84,1) 0%, rgba(61,18,146,1) 100%); text-indent:inherit; }
.layerpopup.layer-up .btn-wrap .btn-layer-close { position:static; width:100%; height:60px; background:#EEEBFF; text-indent:inherit; }


.layerpopup.laypop-all .btn-layer-close:after { content:none; }
.layerpopup.laypop-all .pop-con-wrap{/*min-height:calc(100% - 146px);*/padding-top:50px; padding-bottom:100px; }
.layerpopup.laypop-all .pop-con-wrap:not(:has(+.fixed-btn-wrap)) { padding-bottom:0; } /*전체메뉴-풀팝업 테스트(청)*/
.layerpopup.laypop-all .pop-con-wrap:has(+.fixed-btn-wrap .btn-txt) { padding-bottom:146px; }
.layerpopup.laypop-all .pop-con-wrap .pop-con-area{padding-bottom:7rem;}
.layerpopup.laypop-all .pop-header.bg-pattern{border-color:#191e2a;color:#fff;}
.layerpopup.laypop-all .bg-pattern + .btn-layer-close{background-image:url("/asset/images/common/btn_closeW_white.png");}
.layerpopup .pop-con-wrap:has(.txtbox-wrap) .sub-tit-wrap { margin-bottom:15px; }
.layerpopup .pop-con-wrap .txtbox-wrap + .sub-info-wrap { margin-top:40px; }


/** 알럿팝업 **/
.layerpopup.type-alert{border:none;border-radius:3px;box-shadow:0 4px 8px 0 rgba(0,0,0,0.50); }
.layerpopup.type-alert .pop-con-wrap{padding:40px 20px 10px 20px;text-align:center;}
/* .layerpopup.type-alert .tit-pop{margin-bottom:10px;padding:0 20px;font-size:1.55556rem;color:#464646;line-height:2.2rem;}  2023-07-11, class 사용확인후 삭제필요 */
.layerpopup.type-alert .pop-con{font-size:1rem;color:#333333;}
.layerpopup.type-alert .pop-btn-wrap{display:block;}
.layerpopup.type-alert .pop-btn-wrap .col{float:left;}
.layerpopup.type-alert .pop-btn-wrap .col:first-child{width:40%;}
.layerpopup.type-alert .pop-btn-wrap .col:last-child{width:60%;}
.layerpopup.type-alert .pop-btn-wrap .col:first-child:last-child{width:100%;}

/** 하단노출 레이어팝업 - 바텀시트 **/
.layer-up { display:none; overflow:hidden; position:fixed; left:0 !important; right:0 !important; top:auto !important; bottom:0; /*z-index:105;*/ z-index:100; width:100%; padding-bottom:0px; border-radius:20px 20px 0 0; box-sizing:border-box; background:#fff; }
.layer-up.show::before,
.type-alert.on::before { content:''; z-index:2; position:fixed; left:0; top:0; display:inline-block; width:100%; height:100%; background:#000; opacity:0.2;  }
.layerpopup.on { z-index:105; }

.layerpopup .fixed-btn-wrap { background:#fff; }
.layerpopup .fixed-btn-wrap .btn-wrap { padding:20px; }
.layer-up.has-button { padding-bottom:99px; }
.layer-up.has-button:has(.btn-txt) { padding-bottom:146px; }
.layer-up.has-button .content-wrap { padding-bottom:0px; }

.layer-up .pop-header:has(.btn-layer-close:only-child) { padding-bottom:20px; }

.layerpopup .pop-desc { padding-bottom:30px; color:#666666; font-size:0.88889rem; line-height:1.4375; }
.prepare-area { overflow-y:scroll; max-height:350px; /*padding-bottom:20px;청test*/ }


.layerpopup.type-alert { width:100%; height:100%; position:fixed; left:0; top:0; background:none; }
.layerpopup.type-alert .content-wrap { width:calc(100% - 40px); z-index:999; position:absolute; left:50%; bottom:20px; /*top:50%;*/ border-radius:15px; background:#fff; transform:translate(-50%,0); /*box-shadow:0 4px 8px 0 rgba(0,0,0,0.50); */ padding-bottom:0!important; }
.layerpopup .content-wrap { z-index:20;  background:#fff; /*padding-bottom:40px;*/ }

.layerpopup.type-alert { width:100%; height:100%; position:fixed; left:0; top:0; background:none; }
.type-alert > div { /*width:91.5%;*/ z-index:999; position:absolute; left:50%; bottom:20px; /* top:50%;*/ background:#fff; transform:translate(-50%,0); /*box-shadow:0 4px 8px 0 rgba(0,0,0,0.50);*/ }
.layerpopup .content-wrap { z-index:20;  background:#fff; /*padding-bottom:40px;*/ border-radius:20px 20px 0 0; }

.layerpopup .sub-title { padding:20px 0; font-size:0.88889rem; line-height:1.4375; font-weight:500; color:#333; }
.layerpopup .subtxt-wrap { font-size:0.88889rem; line-height:1.4375; color:#666; }
.layerpopup .ly-select-list + div .sub-title { padding-top:30px; }
.layerpopup .txtbox-wrap { color:#666666; }


#loading.loading {display: none !important; visibility: none !important}
html body #root svg{height: auto !important;min-hight: 100%;max-hight: 100%;}

