$padding-mui: 0;
$padding-default: 20px;
$padding-nested: 10px;
$groups: "form";

@each $group in $groups {
  .#{$group}Group {
    padding: 20px;
  }
}
#root {
  height: 100%;
}

.wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  section {
    &.headerWrap {
      padding: $padding-default;
      flex-shrink: 0;
    }

    &.contentWrap {
      flex: 1;
      overflow: auto;
      padding:20px;
    }

    &.btmWrap {
      height: auto;
      flex-shrink: 0;
    }
  }
}

main {
  .MuiContainer-root {
    padding: 0;
    margin: 0;
    // > .MuiBox-root {
    //   padding: $padding-default;
    // }
  }
}

.form-input {
  margin-bottom: 20px;
  width: 100%;
  // MUI FormControl 스타일 재정의
  &.MuiFormControl-root {
    width: 100%;
    margin-bottom: 20px;
  }

  .Mui-error {
    color: var(--error);
  }

  label {
    display: block;
    color: var(--font-label);
    font-size: var(--font14);
    &.Mui-focused {
      color: var(--color-2);
    }
  }

  .MuiBox-root {
    position: relative;
  }

  .MuiInput-root {
    width: 100%;
    &::before,
    &::after {
      display: none;
    }
    input {
      padding: 15px 0;
      border-bottom: 1px solid var(--form-border);
      transition: border-color 0.3s ease-in-out;

      &:focus {
        border-color: var(--primary) !important;
      }
    }

    &.total {
      input {
        padding: 15px;
        border: 1px solid var(--form-border);
        border-radius: 10px;
      }
    }
    &.search + .MuiBox-root {
      display: flex;
      align-items: center;
      gap: 0;
      position: absolute;
      right: 0;
      top: 0;

      button::before {
        content: "";
        display: block;
        background-repeat: no-repeat;
        background-position: center;
      }
      .clear::before {
        padding: 0;
        width: 20px;
        height: 20px;
        background-image: var(--ico-clear);
        background-size: 20px;
      }
      .search::before {
        width: 32px;
        height: 32px;
        background-image: var(--ico-search);
        background-size: 24px;
      }
    }
  }

  .masked {
    .MuiInput-root:has(input:focus) + .MuiInput-root input {
      border-bottom: 1px solid var(--primary) !important;
    }
  }

  /**select 버튼 스타일 재정의*/
  .MuiButton-root {
    justify-content: flex-start;
    padding: 15px 30px 15px 0 !important;
    min-width: 130px;
    height: 100%;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid var(--form-border);
    &:hover {
      border: 0;
      border-bottom: 1px solid var(--primary);
      border-color: var(--primary);
    }
    background: var(--ico-se-arrow) no-repeat center right;
    background-size: 24px;
  }

  .form-input-box {
    position: relative;
    align-items: center;
    gap: 10px;
    &.mony {
      input {
        padding-right: 30px;
      }
      p {
        position: absolute;
        top: 15px;
        right: 0;
      }
    }
    p {
      color: var(--color-2);
    }
  }
}

//select 팝업 스타일
.MuiDialog-root .MuiDialog-paper {
  max-width: 100%;
  max-height: inherit !important;
  .pop-header {
    padding: $padding-default;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    h2 {
      color: var(--color-2);
      font-size: var(--font18);
      font-weight: var(--font-w-m);
      text-align: left;
    }
  }
  .pop-body {
    padding-bottom: 20px;
    li {
      justify-content: center;
      padding: 15px 20px 17px;
      margin-bottom: 10px;
      border: 1px solid var(--color-d);
      border-radius: 10px;
      text-align: center;
      font-size: var(--font16);
      font-weight: var(--font-w-m);
      &:last-child {
        margin-bottom: 0;
      }
      &.css-vg3e3n-MuiListItem-root {
        color: var(--primary);
        border: 1px solid var(--primary);
        background: #f7faff;
      }
    }
  }
}

.MuiDialog-root .MuiDialog-paper {
  max-width: 100%;
  max-height: inherit !important;
}

//checkbox

.MuiCheckbox-root {
  .checkbox-icon {
    width: 24px;
    height: 24px;
    border: 1px solid var(--color-e4);
    border-radius: 50%;
    background: var(--color-e4);
    display: inline-block;

    &::after {
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      background-color: #fff;
      -webkit-mask-image: var(--ico-check);
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-size: auto 8.5px;
      -webkit-mask-position: center;
    }

    &.checked {
      background-color: var(--primary);
      border-color: var(--primary);
      position: relative;
    }
    &.disabled::after {
      background-color: var(--form-disabled);
    }
  }
  + span {
    color: var(--color-75);
  }
  &:has(.checkbox-icon.checked) + span {
    color: var(--color-2);
  }
}

//약관
.terms-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;

  li {
    padding: 0;
  }
  > .form-check {
    flex-direction: column;
    > label {
      width: 100%;
      display: flex;
      gap: 5px;
      margin: 0 0 10px 0;
      padding: 16px;
      border: 1px solid var(--form-border);
      border-radius: 10px;
      &.checked {
        border-color: var(--primary);
      }
      span {
        padding: 0;
      }
    }
  }
  ul {
    margin: 0;
    padding: 0;
    &.child-list {
      margin: 0;
      padding: 0;
      width: 100%;
      li {
        display: block;
        margin: 0 0 10px 0;
        padding: 0;

        label {
          display: flex;
          gap: 5px;
          margin: 0;
          padding: 5px 16px;

          span {
            margin: 0;
            padding: 0;
          }

          .checkbox-icon {
            border: 1px solid var(--form-border);
            background: transparent;
            &::after {
              background-color: var(--form-border);
            }
            &.checked {
              border-color: var(--primary);
              &::after {
                background-color: var(--primary);
              }
            }
          }
        }

        ul.child-list {
          margin-top: 10px;
          padding: 0;

          label {
            display: flex;
            gap: 5px;
            margin: 0;
            padding: 5px 16px;

            span {
              margin: 0;
              padding: 0;
            }

            .checkbox-icon {
              border: 0;
            }
          }
        }
      }
    }
  }
}

//radio
.radio {
  &-basic {
    .MuiFormGroup-root {
      color: var(--color-45);
      display: inline-flex;
      flex-direction: row;
      gap: 15px;

      label {
        display: inline-flex;
        gap: 8px;
        margin: 0;
        padding: 0;
      }
    }
    .MuiRadio-root {
      margin: 0;
      padding: 0;

      .MuiSvgIcon-root {
        display: none;
      }

      &:before {
        content: "";
        width: 24px;
        height: 24px;
        display: block;
        border: 7px solid var(--color-e4);
        box-sizing: border-box;
        border-radius: 50%;
        background: #fff;
        background-size: contain;
      }

      &.Mui-checked {
        &:before {
          border-color: var(--primary);
        }
        & + span {
          color: var(--color-2);
        }
      }
      &.Mui-disabled {
        &:before {
          background: var(--color-9);
        }
      }
    }
  }

  &-button {
    label {
      margin: 15px 0 0 0;
      color: var(--color-45);

      &:first-of-type {
        margin-top: 0;
      }
    }

    .MuiRadio-root {
      display: none;
      & + .MuiFormControlLabel-label {
        width: 100%;
        margin: 0 !important;
        padding: 16px;
        display: inline-flex;
        gap: 8px;
        border: 1px solid var(--form-border);
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.2s;

        &:before {
          content: "";
          width: 24px;
          height: 24px;
          display: block;
          border: 7px solid var(--color-e4);
          box-sizing: border-box;
          border-radius: 50%;
          background: #fff;
          background-size: contain;
        }
      }

      &.Mui-checked + .MuiFormControlLabel-label {
        background-color: #fff;
        color: var(--color-2);
        border-color: var(--primary);

        &:before {
          border-color: var(--primary);
        }
      }

      &.Mui-disabled + .MuiFormControlLabel-label {
        &:before {
          background: var(--color-9);
        }
      }
    }
  }
}
