@use './mixin';


/*---------------------------------------------
	#etc
---------------------------------------------*/
// 스크린 리더용 스타일 (숨김 처리)
.sr-only { position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow: hidden;  border:0; clip:rect(0, 0, 0, 0); white-space: nowrap; }
// 팝업 내부 임시 iframe
.popup-iframe { width: 100%; height: 100%; border: none;}
//임시 패딩
// .btn-area { padding-top:20px; }
// 임시 버튼
.btn-area, .content-footer {
    .btn {
        &.btn-primary { background-color: var(--btn-con-primary); color: var(--white); }
        &.btn-secondary { background-color: var(--btn-con-secondary); }
        //라인
        &.btn-outlined { background-color: var(--white); border:1px solid var(--btn-line); }
    }
}
//임시 컴포넌트 레이아웃
.exp { 
    display: flex; align-items: center; padding:20px !important; text-align: center; color:var(--primary) !important; font-size: var(--font16); font-weight: var(--font-w-b);
    &::before,
    &::after { content: ""; flex:1; border:1px solid var(--color-d);  }
    &::before { margin-right:30px;}
    &::after { margin-left:30px;}
}



/*---------------------------------------------
	#layout
---------------------------------------------*/
.content { @include mixin.flex-col; flex:1 1 auto; margin-bottom:20px; overflow-y: auto; }
// .MuiListItem-root { padding: inherit; }
/*---------------------------------------------
	#텍스트
---------------------------------------------*/
//상단 타이틀
.content-tit-wrap { text-align: left;
    h3.tit { font-size:var(--font22); font-weight:var(--font-w-m); color: var(--tit-h3); }
    p.desc { padding-top:10px; font-size:var(--font16); font-weight:var(--font-w-m); color: var(--desc); }
}

.info-wrap {
    @include mixin.flex-col; gap:10px;

    //기본
    .info-tit { font-size:var(--font18); font-weight: var(--font-w-b); text-align: left; color:var(--info-tit); }
    .info-list {
        @include mixin.flex-col; gap:4px;
        li {
            position: relative; padding-left:10px; font-size:var(--font14); color:var(--info-list);
            &::before { content: ""; position: absolute; left:0px; top:11px; width:3px; height:3px; border-radius: 50%; background-color: var(--info-list); }
        }
    }

    //타이틀 아이콘 들어갈 경우 ex) triangle 느낌표
    &.titleIcon .info-tit {
        position: relative;
        padding-left:30px;
        &::before { content: ""; position: absolute; top:2px; left:0; width: 24px; height: 24px; background-color: var(--info-tit-icon);  @include mixin.mask-style(var(--ico-info-tri), auto, 24px); }

    }

    //리스트 아이콘 들어갈 경우 ex) round 느낌표
    &.listIcon .info-list {
        li {
            padding-left:24px;
            &::before { left:0px; top:3px; width:20px; height:20px; background-color: var(--info-list-icon);  @include mixin.mask-style(var(--ico-info), auto, 20px);  }
        }
    }
    

}


/*---------------------------------------------
	#팝업 [Type : 풀팝업 , 바텀시트, 일반, 알럿&모달]
---------------------------------------------*/
.popup-container { position: fixed;  @include mixin.flex-col; top: 0; bottom: 0; left: 0; right: 0; width: 100%; background-color: var(--white); overflow: hidden;
    
    // 팝업 헤더
    .pop-header {  @include mixin.flex-center; width: 100%; height: 70px;

      .left { position: absolute; left: 10px; }
      .right { position: absolute; right: 10px; }
      .pop-tit { font-size: var(--font18); font-weight: var(--font-w-b); color:var(--pop-tit); }

      .btn {
        &.btn-back,
        &.btn-close { width: 40px; height: 40px; }
        &.btn-back { background: var(--ico-back) no-repeat 50% / 40px auto; }
        &.btn-close { background: var(--ico-close) no-repeat 50% / 40px auto; }
      }

    }

    // 팝업 본문
    .pop-body { 
        @include mixin.flex-col; width: auto; height: 100%; padding: 0 20px 20px; overflow: hidden; background-color: var(--pop-bg);
        .content { @include mixin.flex-col; flex:1 1 auto; margin-bottom: 20px; overflow-y: auto; }
    }
  
    // 팝업 푸터
    .popup-footer { padding: 15px 20px 20px 20px; background-color: var(--white) }
  
    // 바텀시트
    &.btmSheet { top: initial; height: 70%; border-radius: 16px 16px 0 0; }
  
    // 가운데 일반 팝업
    &.center { margin: 24px; width: auto; border-radius: 16px; box-shadow: 0px 2px 15px var(--dim); }
    
    // 모달&알럿
    &.modal { flex-direction:initial;  align-items: end; z-index:9999; background-color: var(--dim);
        .pop-body {  width:100%; height:auto; padding:0; border-radius: 16px; margin:20px;
            p { padding:30px 20px 15px 20px; text-align: center;font-size: var(--font16); font-weight: var(--font-w-m); color:var(--color-2); }
        }
        .btn-area{
            padding:20px;
            .btn {height:48px; }
        }
    }

  }


/*---------------------------------------------
	#버튼 [Type: 컨텐츠, 컨텐츠 하단, 팝업 하단]
---------------------------------------------*/
.btn { display: flex; align-items: center; justify-content: center; width: 100%; border-radius: 5px; font-weight: var(--font-w-r); font-size: var(--font16); 
    &:disabled { color:var(--btn-disabled-txt) !important; background-color: var(--btn-disabled) !important; }
}



.btn-area,
.content-footer {
    
    // 버튼이 1개일 때
    &.btn-count-1 {
        .btn:nth-of-type(1) { background-color: var(--btn-con-primary); color: var(--white); }
    }

    // 버튼이 2개일 때
    &.btn-count-2 {
        .btn:nth-of-type(1) { background-color: var(--white); border: 1px solid var(--btn-line); }
        .btn:nth-of-type(2) { background-color: var(--btn-con-primary); color: var(--white); }
    }

    // 버튼이 3개일 때
    &.btn-count-3 {
        .btn:nth-of-type(1) { background-color: var(--btn-con-secondary); }
        .btn:nth-of-type(2) { background-color: var(--btn-con-primary); color: var(--white); }
        .btn:nth-of-type(3) { background-color: var(--white); border: 1px solid var(--btn-line); }
    }

}

// 컨텐츠 버튼 높이 및 폰트
.btn-area .btn{ height:48px; font-size: var(--font16); }

// 컨텐츠 하단 버튼 높이 및 폰트
.content-footer .btn { height:58px; font-size: var(--font18); }

// 컨텐츠 버튼, 컨텐츠 하단 스타일 공통 적용
.btn-area,
.content-footer {
    gap:10px;
    @include mixin.flex-center;
    .btn{ @include mixin.flex-center; border-radius: 29px; color:var(--btn-txt); }
}

// 컨텐츠 작은 버튼
.btn-sm .btn { padding:0 16px;  line-height: 30px; font-size:var(--font14);  border: 1px solid var(--color-d); border-radius: 29px; background-color: var(--white); color: var(--color-45); }

/*---------------------------------------------
   #탭 [Type: line[default], bg, style]
---------------------------------------------*/
// 탭 기본
.tab-container {
    
    @include mixin.flex-col;

    .tab-item { display:flex; align-items: center; border-bottom: 1px solid var(--tab-line); transition: linear all 1s;
        button { /*flex:1 1 auto;  max-width: inherit; min-width: inherit; min-width:89px; */  min-height:inherit; padding:16px 8px;
            &.Mui-selected{ color: var(--tab-line-active); } //Mui 활성화
        }
        .MuiTabs-indicator { border-bottom: 2px solid var(--tab-line-active); }//Mui 활성화
        // &.scroll button{ flex: initial; }
        .MuiSvgIcon-root { fill:var(--color-45); }
    }

    &.full .tab-item button { flex:1 1 auto; }

    // background 탭
    &.bg-gray {
        .tab-item {  padding:4px 5px; border-bottom: none; border-radius: 8px; background-color: var(--tab-bg-gray);
            .MuiTabs-flexContainer{  flex-wrap: wrap; gap:5px; }
            button{ width:calc(50% - 10px); padding:8px;
                &.Mui-selected { border-radius: 8px; background-color: var(--tab-bg-gray-active);  } //Mui 활성화
                &:last-of-type { max-width: 49%;}
            }
            .MuiTabs-indicator { display: none; }
        }
    }

    // round 탭
    &.round {
        .tab-item { border-bottom: none;
            .MuiTabs-flexContainer{ gap:5px; }
            button{
                min-width: inherit; padding:8px 16px; border-radius: 30px; background-color: var(--tab-round);
                &.Mui-selected{ background-color:var(--tab-round-active); color:var(--white)}  //Mui 활성화
            }
            .MuiTabs-indicator { display: none; }
        }
    }
    
    .tab-body {
        flex-grow:1; color:var(--color-2);
    }

}



/*---------------------------------------------
   #보안카드
---------------------------------------------*/
.security-input-wrap {

    @include mixin.flex-center;
    margin:40px 0;

    .numeric-info { @include mixin.flex-center; font-weight: var(--font-w-m); color:var(--color-2);
        span { font-weight: var(--font-w-b); color:var(--tertiary); }
    }

    .numeric-box {
        // mui reset
        &.MuiInput-root { border-bottom: 0; }
        .MuiInput-root::before,
        .MuiInput-root::after { content: none;}

        position: relative;
        margin-top:15px;
        input {
            &[type="tel"] { border-radius: 13px; padding:0; width:60px; height:60px; text-align: center; border:2px solid var(--primary); }
            &[type="tel"]:disabled { border:1px solid var(--color-d); background-color: var(--color-f8); }
        }
        .Mui-disabled::before { content: ""; position: absolute; top:50%; left:50%; transform: translate(-50%, -50%); width:10px; height:10px; border-radius: 50%; border:1px solid var(--color-9); background-color: var(--color-9); }
        
    }

 }


/*---------------------------------------------
   #카드
---------------------------------------------*/
.card-wrap {  @include mixin.flex-col; margin-top:30px; gap:20px; }
.card-box {
    width:100%;
    &.MuiCard-root { border-radius: 20px; padding:0; box-shadow: none; box-shadow:var(--card-box); } //mui default
    & > .MuiCardContent-root { padding:16px;} //mui default
    
    .card-info-actions { @include mixin.flex-row; justify-content: space-between; gap:10px; }
    .card-desc { font-size: var(--font14); line-height: var(--font14); color:var(--card-desc); }
    .card-actions {
        @include mixin.flex-row; gap:6px;
        .btn-compare,
        .btn-favorite,
        .btn-star,
        .btn-modify {
                width:28px; height:28px;
                &::before{ content: ""; position: absolute; inset:0; width:28px; height:28px; background-color: var(--card-btn);}
                // &:focus-visible { @include mixin.outline-effect;}
        }

        .btn-compare {
            &::before { @include mixin.mask-style(var(--ico-compare), auto, 26px); }
            &.active::before  { background-color: var(--card-btn-compare-active);  @include mixin.mask-style(var(--ico-compare-active), auto, 26px); }
        }

       .btn-favorite {
            &::before{ @include mixin.mask-style(var(--ico-favorite), auto, 26px); }
            &.active::before { background-color: var(--card-btn-favorite-active); @include mixin.mask-style(var(--ico-favorite-active), auto, 26px); }
        }

        .btn-star {
            &::before{ @include mixin.mask-style(var(--ico-star), auto, 26px); }
            &.active::before { background-color: var(--card-btn-star-active); @include mixin.mask-style(var(--ico-star-active), auto, 26px); }
        }
        .btn-modify{
            &::before{ @include mixin.mask-style(var(--ico-modify), auto, 26px); }
        }
    }
    .card-info {  @include mixin.flex-row; align-items: flex-start; gap:10px; }
    .card-category { 
        padding:0 8px; border-radius:15px; font-size:var(--font12); font-weight: var(--font-w-r); color: var(--card-category); border:1px solid var(--card-category);
        &.loan { color:var(--card-category-loan); border:1px solid var(--card-category-loan); } // 대출
        &.deposit { color:var(--card-category-deposit); border:1px solid var(--card-category-deposit); } // 예적금
        &.loanTotal { color:var(--card-category-loanTotal); border: 1px solid var(--card-category-loanTotal) } // 종합대출
    }

    .card-name { line-height:var(--font20); font-size:var(--font18); font-weight: var(--font-w-b); color:var(--card-name); }
    .card-tag { margin-top:8px; font-size:var(--font14); color:var(--card-tag); }
    .card-term { margin-top:12px; font-size:var(--font14); font-weight: var(--font-w-m); color:var(--card-term); }
    .card-rate { font-size:var(--font20); font-weight: var(--font-w-b); color:var(--card-rate);}
    .card-mtyDate { padding-top:10px; font-size:var(--font16); font-weight: var(--font-w-m); color:var(--card-mtyDate-num);
        .card-mtyDate-value { padding-left:4px; font-size:var(--font14); font-weight: var(--font-w-r); color:var(--card-mtyDate-num); }
    }
    .btn-control { // 임시 mui 아이콘
        .MuiSvgIcon-root { width:20px; height:20px; fill:var(--card-btn-control); }
    }
    .btn-copy { // 임시 mui 아이콘
        .MuiSvgIcon-root  { width:20px; height:20px; fill:var(--card-btn-copy); }
    } 
    .card-account-info {
        margin-top:8px; @include mixin.flex-row; justify-content: flex-start; align-items: center; gap:4px;
        .acount-num { font-size:var(--font14); color: var(--card-acount-num); }
    }
    .card-balance { 
        margin-top:8px; @include mixin.flex-row; justify-content: space-between; align-items: center;
        font-size:var(--font20);
        .txt-balance { font-size: var(--font14); font-weight: var(--font-w-m); }
        .num-balance { font-size: var(--font18); font-weight: var(--font-w-b); }
        .highlight { color:var(--primary); }
    }
    .btn-area { padding-top:20px; }
    
}

/*---------------------------------------------
   #아코디언
---------------------------------------------*/
.accordion-wrap {
  .accordion-item { width:100%; }
}


/*---------------------------------------------
   #버튼 리스트
---------------------------------------------*/
.list-button-wrap {
    // 일반 리스트 버튼
    @include mixin.flex-col; gap:10px;

    li {
        .list-info { text-align: left; padding-right:14px;}
        &:first-child { margin-top:0; }
        button {
            position: relative; display:flex; justify-content: flex-start; width:100%; height:47px; padding:0 10px; border:1px solid var(--list-btn); color: var(--list-btn-txt); background-color: var(--white);
            &::after { content:""; position: absolute; top:50%; right:0; transform: translate(-50%, -50%);  width:24px; height:24px; background-color: var(--list-btn); @include mixin.mask-style(var(--ico-r-arrow), auto, 24px); }
        }
    }
    //게시판
    &.noti-list li button { @include mixin.flex-col; align-items: flex-start;  border:none; padding:14px 14px 10px; height:auto; border-bottom: 1px solid var(--list-btn);  }

    &.event li {
        button::after { content:none; }
        .list-info {
            position: relative; width:100%;
            &::after { content:""; position: absolute; top:50%; right:-20px; transform: translate(-50%, -50%);  width:24px; height:24px; background-color: var(--list-btn); @include mixin.mask-style(var(--ico-r-arrow), auto, 24px); }
        }
    }
 }
 // 게시판 텍스트
.list-image {
    width:100%; height:158px; margin-bottom: 10px; background-color: var(--color-f8);
    img{ width:100%; height:100%; object-fit: contain; }
}
.list-category { padding:0 8px; margin-bottom:10px; border-radius:15px; font-size:var(--font12); font-weight: var(--font-w-r);  border:1px solid var(--list-category); color: var(--list-category-txt) }
.list-name {
    text-align: left; color:var(--list-name); font-size:var(--font16); font-weight: var(--font-w-m);
    .file-clip { transform: rotate(40deg) translateY(3px); width:16px; height:16px; fill: var(--file-clip); }
}
.list-date { font-size:var(--font14); color:var(--list-date); }



/*---------------------------------------------
   #키패드
---------------------------------------------*/
.secu-number-wrap {
    @include mixin.flex-col; flex:1 1 auto; justify-content: space-around;
    .secu-number {
        display: flex;  justify-content: center; align-items: center; gap: 20px;
        .secu-dot { width: 24px; height: 24px; border-radius: 50%; background-color: var(--secu-dot); }
        .secu-dot.filled { background-color: var(--secu-dot-active); }
    }
}
 /* 키패드 전체 컨테이너 */
 .secu-keypad-wrap {
    @include mixin.flex-center; gap: 10px; padding: 20px;
    /* 개별 키패드 버튼 (숫자) */
    .secu-key {
        flex: 1 1 30%; text-align: center;
        &.empty { visibility: hidden; } /* 빈 칸 처리 */

        .secu-key-button {
            width: 100%; height: 80px;  font-size: var(--font24); border-radius: 10px; color:var(--secu-num); background-color: var(--white); transition: background-color 0.2s;
            &:hover {background-color: var(--secu-bg-hover); }
        }

        &.txt .secu-key-button { font-size:var(--font18); }

        &.delete {
            .secu-key-button {
                background-color: var(--secu-num);
                @include mixin.mask-style(var(--ico-secu-delete), auto, 24px);
            }
            &:hover { border-radius: 10px; background-color: var(--secu-bg-hover); }
        }

    }

}

/*---------------------------------------------
    #텍스트리스트
---------------------------------------------*/

.txt-list-wrap {
    display:flex; flex-direction: column; gap:20px;
    .txt-list-detail {
        border:1px solid #ddd; border-radius: 15px;  padding:30px 20px; box-shadow: none;
        .txt-list {
            .txt-item  {
                border-bottom:1px solid #ddd;
                strong { font-weight: var(--font-w-b); }
                &.title { border-bottom:none;
                    .txt-area { margin-bottom:4px; }
                }
                &:last-child { border-bottom:none;  }
                &:first-child .txt-area { margin-top:0;}
                &:last-child .txt-area { margin-bottom:0; }
                .txt-area {
                    display:flex; justify-content:space-between; align-items: center;  margin:20px 0;
                    span:first-child {
                        font-size:var(--font16); font-weight: var(--font-w-r); color:#666;
                        >span { font-size:var(--font14); }
                    }
                    p {
                        font-size:var(--font16); text-align: right; font-weight: var(--font-w-m);
                    }
                }
            }
        }
        .btn-area {
            margin-top:28px;
        }
    }
}

