<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    
    <title>G10 전자서명</title>

    <script src="/solution/wizvera/delfino/jquery/jquery-1.6.4.min.js" charset="utf-8"></script>

    <script type="text/javascript">
        var _SITE_SystemMode  = "test"; // real, test 사설인증은 테스트 서버 미사용
        var _SITE_SystemLang  = "KOR"; // KOR, ENG, CHN, JPN
        var _SITE_SiteName    = "delfino";     // pc, mobile, tablet
        var _SITE_ModuleType  = ""; // "", G2, G3, G4
    </script>
    <script src="/solution/wizvera/delfino/delfino_config.js" charset="utf-8"></script>
    <script src="/solution/wizvera/delfino/delfino_internal.min.js" charset="utf-8"></script>
    <script src="/solution/wizvera/delfino/delfino.js" charset="utf-8"></script>
    <script src="/solution/wizvera/delfino/delfino_site.js" charset="utf-8"></script>

    <script type="text/javascript">
        Delfino.setModule('G10'); // Delfino G10 Setting

        //[G10] 사설인증서 로그인 후 리턴 
        function login(authType,name,phone,birthDay){
            var signOptions = {};
            signOptions.provider = authType;
            signOptions.displayProviders = authType;
            signOptions.addNonce = true;
            
            var cgUserInfo = {};
            cgUserInfo.userName = name;
            cgUserInfo.userPhone = phone;
            cgUserInfo.userBirthday = birthDay;
            signOptions.userInfo = cgUserInfo;
            
            Delfino.login("login=certLogin", signOptions, function(result){
                if (typeof (result) == 'string')result=JSON.parse(result);
                window.parent.postMessage(result, "*");
            });
        }

        //[G10] 사설인증서 서명 후 리턴 
        function sign(authType,name,phone,birthDay,oriMsg){
            var signOptions = {};
            signOptions.provider = authType;
            signOptions.displayProviders = authType;
            signOptions.addNonce = true;
            
            var cgUserInfo = {};
            cgUserInfo.userName = name;
            cgUserInfo.userPhone = phone;
            cgUserInfo.userBirthday = birthDay;
            signOptions.userInfo = cgUserInfo;

            Delfino.sign(oriMsg, signOptions,function(result){
                if (typeof (result) == 'string')result=JSON.parse(result);
                window.parent.postMessage(result, "*");
            });
        }
    </script>
</head>
<body>
</body>
</html>